* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
.quiz__wrapper {
  display: flex;
  flex-direction: column;
  padding: 2%;
  position: relative;
}
.quiz__wrapper h1 {
  font-size: 2rem;
}
.quiz__items {
  padding: 3%;
}
.items__card {
  border: 1px solid #ccc;
  padding: 2%;
  width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
.card__obj {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quiz-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
}
.menu__select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 100%;
}
.menu__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}
.select__btn {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100px;
  cursor: pointer;
}
.select__btn:hover {
  background-color: #ccc;
}
.card__length {
  color: blue;
}
.quiz__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.pagin {
  width: 100px;
  padding: 5px;
  cursor: pointer;
}
.btn-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}