.wrapper__modal {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 244, 244);
    z-index: 1000;
    justify-content: space-between;
    padding: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100vw;
    height: 90vh;
}
.modal__quest {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.form-btn {
    width: 100px;
    padding: 5px;
    cursor: pointer;
}

.wrapper__quest {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.close-btn {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.item-btn, .item-btn2 {
    display: block;
    background-color: black;
    height: 1px;
    width: 30px;
}
.item-btn {
    position: absolute;
    top: 0;
    left: 0;
    rotate: 45deg;
}
.item-btn2 {
    position: absolute;
    top: 0;
    left: 0;
    rotate: 135deg;
}
.name__description {
    width: 300px;
    height: 60px;
    padding: 5px;
    border: 1px solid #ccc;
}
.quest__name {
    margin-left: 22px;
    display: flex;
    gap: 50px;
}
.quest-box {
    display: flex;
    align-items: end;
    gap: 30px;
}
.submit {
    align-self: center;
    width: 100px;
    padding: 5px;
    cursor: pointer;
}